/**
* @author Jade Mayrand
*/
$hyperlien: $rose;
$hyperlien_actif: $blanc;

.hyperlien{
  color: $hyperlien;
  font-size: 18px;
  text-decoration: underline;
  &:visited {
    color: darken($hyperlien, 20%);
  }
  &:hover {
    color: $hyperlien_actif;
    text-decoration: underline;
  }
  &:active {
    color: $hyperlien_actif;
    text-decoration: underline;
  }
}