/**
* @author Prenom Nom courriel
*/

/******** Typographie *********/

// Fonction pour convertir une valeur de font-size en pixels à son équivalent rem
@function calculateRem($size) {
  $remSize: calc($size / 10px);
  @return #{$remSize}rem;
}

// Mixin qui inclus la solution de repli en pixel suivi par la valeur calculée en rem
@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
//Pour utiliser la fonction : @include fontSize(15px);


@font-face {
  font-family: Roboto, sans-serif;
  src: 	url('../fonts/Roboto-Regular.ttc') format('truetype');
}

$fontePrimaire : "Lato", sans-serif;
$grosTexte : "Jaldi", sans-serif;
$fonteSecondaire : Arial, sans-serif;


/**** Typographie responsive ****/

html {
  font-size: 62.5%;
}

<<<<<<< HEAD
h1,
h2,
h3{
  color: $blanc;
  font-family: $fontePrimaire;
}

=======
>>>>>>> 6068b61ea346ebb438a15cf53939fbab4c698847
body {
  font-family: $fontePrimaire;
  @include fontSize(16px); /* 16px pour toutes les largeurs d'écran */
  line-height: 1.375; /* facteur multiplicateur de la taille de la police 1.375x16=22 */
  @media (min-width: 601px) {

  }
}

.titrePrincipal{
  @include h1Taille;
}
.titreNiveau2{
  @include h2Taille;
}
.titreNiveau3{
  @include h3Taille;
}
// .evenementsDesArtistes__lien{
  
// }

