/**
* @author Jade Mayrand
* @author Elma Atindehou
* @author Camille Marion

*/

/**
 * ----------------------------
 * TABLE DES MATIERES - MIXINS
 * ----------------------------
 * Utilitaires de base
 ** Box sizing
 ** Clearfix
 * Accessibilité
 * Typographie
 */

/********** Utilitaires de base **********/

/** Box sizing **/
@mixin border-box-sizing {
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
}

/* Clearfix */
@mixin clearfix {
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

/********* Accessibilité *********/

// Hide only visually, but have it available for screenreaders:
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    // Extends the .visuallyhidden class to allow the element to be focusable
    // when navigated to via the keyboard: https://www.drupal.org/node/897638
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.visuallyhidden,
.screen-reader-only {
    @include visuallyhidden;
}

@mixin title {
    text-transform: uppercase;
    color: $blanc;
    text-decoration: underline 17px $orange solid;
    margin-bottom: 2em;
    margin-top: 2em;
}

@mixin tinytitle {
    text-align: center;
    margin: 3em 0 1em 0;
    text-transform: uppercase;
    color: $blanc;
    text-decoration: underline 5px $orange solid;
}

@mixin icone {
    width: 30px;
    height: 30px;
}

<<<<<<< HEAD
/********* TAILLES DES POLICES *********/

/**** TABLE *****/
@mixin h1Table {
    font-family:($titreNiveau1);
    font-size: 6.5rem;
    text-transform: uppercase;
    color: $blanc;
    border-bottom: $orange 20px solid;
    
}
@mixin h2Table {
    font-family:($titreNiveau2);
    font-size: 2.5rem;
    text-transform: uppercase;
    color: $blanc;
    border-bottom: $orange 20px solid;
}
@mixin h3Table {
    font-family:($titreNiveau3);
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $blanc;
    border-bottom: $orange 20px solid;
}
@mixin h4Table {
    font-family:($titreNiveau4);
    font-size: 6rem;
    text-transform: uppercase;
    color: $blanc;
    border-bottom: $orange 20px solid;
}
/**** MOBILE *****/
@mixin h1Mobile{
    margin: 0 auto;
    font-family:($titreNiveau1);
    font-size: 4.5rem;
    text-transform: uppercase;
    color: $blanc;
    background-image: url(../images/Rectangle\ 61.png);
    background-repeat: no-repeat;
}
@mixin h2Mobile{
    font-family:($titreNiveau2);
    font-size:3rem;
    text-transform: uppercase;
    color: $blanc;
    border-bottom: $orange 1.3rem solid;
}

@mixin h3Mobile{
    font-family:($titreNiveau3);
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $blanc;
    border-bottom: $orange .9rem solid;
}

/**** TEXTE COURANT *****/

@mixin texteCourant{
    font-family:($texteCourant);
    font-size: 1.3rem;
}
@mixin texteDeGrandeTaille{
    font-family:($texteEngrandeTaille);
    font-size: 2.2rem;
    color: $blanc;
}
=======
@mixin bouton {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}
>>>>>>> 85f38fc7df9876e25966b606dd8fea8088b3c48a
