/**
* @author Jade Mayrand
* @author Elma Atindehou
* @author Camille Marion

*/

/**
 * ----------------------------
 * TABLE DES MATIERES - MIXINS
 * ----------------------------
 * Utilitaires de base
 ** Box sizing
 ** Clearfix
 * Accessibilité
 * Typographie
 */

/********** Utilitaires de base **********/

/** Box sizing **/
@mixin border-box-sizing {
    html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
}

/* Clearfix */
@mixin clearfix {
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

/********* Accessibilité *********/

// Hide only visually, but have it available for screenreaders:
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    // Extends the .visuallyhidden class to allow the element to be focusable
    // when navigated to via the keyboard: https://www.drupal.org/node/897638
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.visuallyhidden,
.screen-reader-only {
    @include visuallyhidden;
}

@mixin title {
    text-transform: uppercase;
    color: $blanc;
    text-decoration: underline 17px $orange solid;
    margin-bottom: 2em;
    margin-top: 2em;
    font-family: ($titreNiveau1);

    @media(min-width:$desktop){
        margin-left: 8rem;
    }
    
}

@mixin tinytitle {
    text-align: center;
    margin: 3em 0 1em 0;
    text-transform: uppercase;
    color: $blanc;
    text-decoration: underline 5px $orange solid;
    font-family: ($titreNiveau3);
    font-size: 2rem;
}

@mixin icone {
    width: 30px;
    height: 30px;
}

/********* TAILLES DES POLICES *********/

/**** TABLE & MOBILE *****/

@mixin h1Taille {
    font-family: ($titreNiveau1);
    font-size: 2.9rem;
    text-transform: uppercase;
    color: $blanc;
    background-image: url(../images/bordure_jaune.jpg);
    background-repeat: no-repeat;
    background-size: 40% 30%;
    background-position: bottom -10% left 80%;

    @media(min-width:$desktop) {
        background-size: 25% 30%;
        background-position: bottom -10% left 47%;
        font-size: 7rem;
    }
}

@mixin h2Taille {
    font-family: ($titreNiveau2);
    font-size: 2.2rem;
    text-transform: uppercase;
    color: $blanc;

    @media(min-width:$desktop) {
        font-size: 5rem;
    }
}

@mixin h3Taille {
    font-family: ($titreNiveau3);
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: $blanc;
    border-bottom: $orange .9rem solid;

    @media(min-width:$desktop) {
        font-size: 3.5rem;
        text-align: left;
        width: 70%;
    }
}

@mixin h4Taille {
    font-family: ($titreNiveau4);
    font-size: 1.7rem;
    text-transform: uppercase;
//     background-color: white;
//     padding: 1rem;
//    width: 110%;
//    border-top: .2rem solid $orange;
//    border-left: .2rem solid $orange;
//    margin-left:-.7rem ;
//    margin-top: -1.2rem;

    @media(min-width:$desktop) {
        width: 70%;
        font-size: 4.5vh;
        color:$blanc;
        background-image: url(../images/bordure_blanche.jpg);
        background-repeat: no-repeat;
        background-size: 40% 40%;
        background-position: bottom -35% left 50%;
    }
    &:hover{
        background-image: url(../images/bordure_rose.jpg);
        background-repeat: no-repeat;
        background-size: 40% 40%;
        background-position: bottom -10% left 50%;
    }
}

/**** TEXTE COURANT *****/

@mixin texteCourant {
    font-family: $texteCourant;
}

@mixin texteDeGrandeTaille {
    font-family: ($texteEngrandeTaille);

    @media(min-width:$desktop) {
        font-size: 2.2rem;
    }
}

/**** LIENS DATES *****/

@mixin dates {
    width: 100%;
    font-weight:normal;
    font-size: 3.5rem;
    padding: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &__item{
        margin-bottom: 3rem;
        width: calc(100%/2);
        list-style: none;
        padding: 1rem 0;
        border-bottom: .2rem solid ($blanc);
        @media(min-width:$desktop) {
            flex-direction: row;
            width: calc(100%/4);
         }
        
    }
    &__item:hover{
        border-bottom: .2rem solid ($rose);
    }
    &__item:active{
        border-bottom: .2rem solid ($rose);
    }
    &__item:visited{
        border-bottom: .2rem solid ($rose);
    }

    &__lien, &__lien:link{
        color: $blanc;
    }
    &__lien:hover, &__lien:visited{
        color: $blanc;
    }
    @media(min-width:$desktop) {
       flex-direction: row;
    }

}

// @mixins Camille

@mixin h1__accueil-left {
    font-family: ($titreNiveau1);
    font-size: 1.88rem;
    float: left;
    text-transform: uppercase;
    color: $blanc;
    background-image: url(../images/bordure_jaune.jpg);
    background-repeat: no-repeat;
    background-size: 40% 30%;
    background-position: bottom -10% left 100%;

    @media(min-width:$desktop) {
        background-size: 60% 40%;
        background-position: bottom -30% left 100%;
        font-size: 5.4rem;
        margin-left: 4%;
    }
}

@mixin h1__accueil-right {
    font-family: ($titreNiveau1);
    font-size: 1.88rem;
    float: right;
    text-transform: uppercase;
    color: $blanc;
    background-image: url(../images/bordure_jaune.jpg);
    background-repeat: no-repeat;
    background-size: 40% 30%;
    background-position: bottom -10% right 100%;

    @media(min-width:$desktop) {
        background-size: 60% 40%;
        background-position: bottom -30% right 100%;
        font-size: 5.4rem;
        margin-right: 4%;
    }
}
