/**
* @author Jade Mayrand
*/

/** Polices de caractères **/

/** Palette de couleurs **/

/* Couleurs de base */
$noir: #000;
$blanc: #FFF;
$degrade: linear-gradient(160deg, rgb(218, 65, 103) 20%, rgb(254, 168, 47) 70%);
$orange: #FEA82F;
$rose: #DA4167;

$transparent : transparentize($noir, 0.50);

/** Points de rupture **/
$desktop : 601px;