// Camille

@charset "UFT-8";

.accueil {
  margin: 0 auto;
  position: absolute;
  text-align: center;

  @media(min-width: $desktop) {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__nom {
    text-align: left;
  }

  &__titre {
    text-align: left;
    margin-left: 150px;
    @include title;
  }
}

body {
  background-color: black;
  color: #FFF;
}

.img__entete {
  width: 1440px;
  height: 470px;
}

.container {
  color: white;
  padding: 10px;
  position: relative;
}

.centered {
  position: absolute;
  padding-top: 50px;
  padding-left: 200px;
  font-size: 40px;
}

.centered_dates {
  position: absolute;
  padding-top: 110px;
  padding-left: 200px;
  font-size: 30px;
}

.nav-sec__liste {
  justify-content: center;
  display: flex;
  list-style: none;
}

.nav-sec__listeItem {
  padding: 14px 140px;
  font-size: 20px;
}

.nav-sec__lien {
  color: $blanc;
}

.separator {
  background-color: #FEA82F;
  width: 100%;
  padding: 10px;
  border: #FEA82F;
  margin-top: 3em;
  margin-bottom: 3em;
}

.titre_texte {
  font-size: 20px;
  color: #000;
  padding: 0 32px 0 32px;
}

.hr_article {
  background-color: #FEA82F;
  width: 162px;
  padding: 4px;
  border: #FEA82F;
}

.auteurs {
  background-color: #FFF;
  text-transform: none;
  font-size: 14px;
  color: $noir;
  padding: 0 0 0 32px;
}

.articles_texte {
  background-color: #FFF;
  text-transform: none;
  color: #000;
  font-size: 16px;
  padding: 0 32px 0 32px;
  text-align: justify;
  padding-bottom: 30px;
  vertical-align: bottom;
}

.a_points {
  color: #DA4167;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 2px;
}

.a_points:hover {
  font-weight: bold;
}

.conteneur_actu {
  display: flex;
}

.titre {
  background-color: #FFF;
  padding-top: 20px;
}

.articles {
  margin: 21px;
}

.articles__footer {
  background-color: $orange;
  bottom: -170px;
  padding: 2px;
}

.date__article__footer {
  text-align: right;
  color: $noir;
  font-weight: 400;
  margin-right: 20px;
  font-size: 14px;
}