@charset "UFT-8";

.accueil {

  &__titre {
    padding: 20px;
  }

  &__layout {
    display: flex;
    flex-direction: row;
  }

}

body {
  background-color: black;
  color: #FFF;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  color: white;
  padding: 10px;
  position: relative;
}

.centered {
  position: absolute;
  padding-top: 50px;
  padding-left: 200px;
  font-size: 40px;
}

.centered_dates {
  position: absolute;
  padding-top: 110px;
  padding-left: 200px;
  font-size: 30px;
}

.nav-sec__liste {
  justify-content: center;
  display: flex;
  list-style: none;
}

.nav-sec__listeItem {
  padding: 14px 140px;
  font-size: 20px;
}

.nav-sec__lien {
  color: #FFF;
}

hr {
  background-color: #FEA82F;
  padding: 20px;
  border: #FEA82F;
}

@media (max-width: 768px) {
  .image_festi {
    max-width: auto;
    height: auto;
  }
}

.conteneur_actu {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.article {
  display: flex;
  justify-content: space-between;
}

.article {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
}

.article h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.article p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}