// JADE
@charset "UFT-8";

/**
 * ----------------------------
 * TABLE DES MATIERES - FICHE DE L'ARTISTE
 * ----------------------------
 * ARTISTES
 * ARTISTES SUGGÉRÉS
 * SITE WEB
 * REPRÉSENTATIONS
 * PROVENANCE ET STYLE MUSICAL
 * IMAGES
 */

// ARTISTES
.artiste{
  margin: 0 auto;
  position: relative;
  text-align: center;

  @media(min-width: $desktop){
  max-width: 1000px;
  margin: 0 auto;

  &__nom{
    text-align: left;
   
  }

  &__titre{
    text-align: left;
  }

  }

  &__nom{
    @include title;
    font-size: 5rem;
  }

  &__description{
    color: $noir ;
    background-color: $blanc;
    border: 3px $orange solid;
    padding: 30px;
    width: 300px;
    margin: 1em auto;
    font-family: $texteCourant;
    font-size: 2rem;
  }

  &__titre{
    @include title;
    font-size: 3rem;
  }

  @media(min-width: $desktop){
    &__description{
      width: 80%;
    }
  }

  @media(min-width:$desktop) {
    max-width: 90%;
    background-image: url(../images/feux_dartifices.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 60%, 60%, 50%;
    background-position: top 60% left 30%;
  }
}

@media(min-width:$desktop){
  .wrapper{
    margin-top: 7em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 20px;
    grid-template-areas: ". . . . . . a a a a"
                        "b b b b b b a a a a"
                        "b b b b b b a a a a"
                        "c c c c c c d d d d";

  &__element1{
    grid-area: a;
  }
  &__element2{
    grid-area: b;
  }
  &__element3{
    grid-area: c;
  }
  &__element4{
    grid-area: d;
  }
}
}

// ARTISTES SUGGERÉS
.suggestion{
  justify-items: center;
  margin: 5em auto;

  &__titre{
    @include tinytitle;
    margin-left: 2em;
    margin-bottom: 2em;
  }

  &__liste{
    list-style-type: none;
  }

  @media(min-width: $desktop){
    &__liste{
    display: flex;
    list-style-type: none;
    }
  
    &__artiste{
      flex-direction: row;
      padding: 20px;
    }
  
  }
}

// SITE WEB
.website{
  &__titre{
    @include tinytitle;
  }
}

// REPRÉSENTATIONS
.spectacle{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  font-size: 1.4em;
  
  &__liste{
    color: $orange;
    margin-top: 1.5em;
    margin-left: 5em;
    font-family: ($texteEngrandeTaille);
    font-size: 2.5rem;
  }

  @media(min-width: $desktop){
    flex-direction: row;
  }
  
}

// PROVENANCE ET STYLE MUSICAL
.infos{
  background-color: $blanc;
  width: 280px;
  border-bottom: $orange 20px solid;
  padding: 30px;
  margin: 2em auto;

  &__texte{
    color: $noir;
    padding-top: 1em;
    font-family: $texteCourant;
    font-size: 2rem;
  }

  &__texte:nth-of-type(1){
   margin-bottom: 1.5em;
  }

  &__titre{
    color: $noir;
    border-bottom: $orange 5px solid;
    font-family: ($titreNiveau4);
    font-size: 2.3rem;
  }

  @media(min-width: $desktop){
    position: absolute;
    top: 4%;
    left: 28%;
  }
}

.icone{
  &__lieu{
    @include icone;
  }

  &__calender{
    @include icone;
  }
}

// IMAGES
.picture{

  &__img{
    width: 100%;
    margin-top: 2em;
    max-width: 300px;
  }

  &__imgPaysage{
    width: 100%;
    margin-top: 2em;
    max-width: 300px;
  }

  @media(min-width: $desktop){
    &__imgPaysage{
      height: 100%;
      max-width: 600px;
    }
  }
}

