// JADE
@charset "UFT-8";

.artiste{
  margin: 0 auto;
  position: relative;
  text-align: center;

  @media(min-width: $desktop){
  max-width: 1000px;
  margin: 0 auto;
  }

  &__nom{
    @include title;
  }

  &__description{
    // mixin cadre blanc
    color: $noir ;
    background-color: $blanc;
    border: 3px $orange solid;
    padding: 30px;
    width: 300px;
    margin: 1em auto
  }

  &__titre{
    @include title;
  }

  @media(min-width: $desktop){
    &__description{
      width: 100%
    }
  }
}

.suggestion{

  &__titre{
    @include tinytitle;
  }

  &__liste{
    list-style-type: none;
  }

  @media(min-width: $desktop){
    &__liste{
    display: flex;
    list-style-type: none;
    }
  
    &__artiste{
      flex-direction: row;
      padding: 20px;
    }
  
  }
}

.website{
  &__titre{
    @include tinytitle;
  }
 
}


.spectacle{
  list-style-type: none;
  display: flex;

  &__liste{
    color: $orange;
    margin-top: 1.5em;
    margin-right: 5em;
    // font-family: $grosTexte;
  }

  @media(min-width: $desktop){
    flex-direction: row;
  }
  
}

.infos{
  background-color: $blanc;
  width: 200px;
  border-bottom: $orange 20px solid;
  padding: 30px;
  margin: 2em auto;

  &__texte{
    color: $noir;
  }

  &__titre{
    color: $noir;
    border-bottom: $orange 5px solid;
  }

  @media(min-width: $desktop){
    position: absolute;
    top:20%;
    left: 20%;
    max-width: 250px;
    padding: 40px;
  }
}

.icone{
  &__lieu{
    @include icone;
  }

  &__calender{
    @include icone;
  }
}

.picture{

  &__img{
    width: 50%;
    height: 50%;
    margin-top: 2em;
  }
}

