.conteneur {
  background-color: #000;
}

.entete {
  background-color: #000;
  padding: 20px;
}

.logo {
  width: 174px;
  height: 90px;
}

.menu {
  display: block;
  margin: auto;
  width: 100%;
  text-align: left;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  list-style-type: none;
}

.menu__lien {
  margin: 26px;
  width: 174px;
  display: block;
  float: right;
  text-decoration: none;
  text-align: center;
  color: #DA4167;
  text-transform: uppercase;
}

a .sac {
float: right;
}