@charset "UTF-8";

.logo {
  display: block;
  height: 84px;
  cursor: pointer;
}

.menu__listeItem,
a {
 @include bouton;
 color: $rose;
}

.entete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: relative;
}



