// Camille

@charset "UTF-8";

:root {
  background: $noir;
  max-width: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  display: block;
  height: 84px;
  cursor: pointer;
}

.menu__listeItem,
a {
  color: $rose;
  font-size: 20px;
  text-transform: uppercase;
}

.entete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: relative;
}

@media (max-width: 601px) {
  :root {
    background: $noir;
    max-width: $desktop;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .entete {
    display: flex;
		position: relative;
		top: 0;
		right: 0;
		width: $desktop;
  }

  .logo {
    height: 70px;
  }

  .menu__listeItem,
  a {
    font-size: 16px;
  }
}



