@charset "UFT-8";

.container {
  padding: 20px;
  display: flex;
}

.section__footer {
  display: flex;
  align-items: center;
}

.section__logo {
  float: left;
  margin: 20px;
}

.logo__footer {
  display: flex;
  height: 84px;
  cursor: pointer;
}

.section__nav {
  float: right;
  margin-left: 200px;
}

.nav__footer {
  list-style-type: none;
  display: block;
  gap: 20px;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 20px 0;
  border-top: 1px solid $orange;
}

.contact,
.newsletter {
  width: 45%;
  margin-top: 20px;
}

.newsletter form {
  display: flex;
}

.newsletter input[type="email"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.newsletter button {
  padding: 10px;
  background-color: $orange;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #fff;
  cursor: pointer;
}

.socials {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socials a img {
  width: 30px;
  height: 30px;
}

.nav__principal {
  text-align: right;
}