/**
 * @author Elma Atindehou 2233755@csfoy.ca
 * @todo MISE EN PAGE DE LA PAGE PROGRAMMATION
**/

/**
 * TABLE DES MATIÈRES
 * Palette de couleurs
 * Base commune
 * - Bouton du menu
 * - Liste du menu
 * - Liens du menu
 * Si le javascript est activé
 */

@charset "UFT-8";

/******* MISE EN FORME DE LA LISTE DES LIEUX *******/

/****** LISTE DES LIEUX ***/
.conteneurEvenements{
  display:flex;
  flex-direction: column;
  color:($noir);

  &__items{
    list-style: none;
  }
}

/****** LISTE DES ARTISTES ***/
.evenementsDesArtistes{
  display:flex;
  flex-direction: column;

  &__item{
    width:40%;
    padding:1rem;
    list-style: none;
    display:flex;
    flex-direction: column;
    background-color: ($blanc);
    border: .2rem, solid ($orange);
  }

  &__image{
    width: 40%;
    height: 40%;
  }
}